#pagecornr {
	position: absolute;
	right: 0; top: 0;
}
#pagecornr img {
	width: 100px; height: 104px;
	z-index: 99;
	position: absolute;
	right: 0; top: 0;
	-ms-interpolation-mode: bicubic;
padding:0;
margin:0;
border:none;
}
#pagecornr .bg_msg {
	width: 100px; height: 100px;
	position: absolute;
	z-index: 98;
	right: 0; top: 0;
	background: url('ad.png') no-repeat right top;
	text-indent: -9999px;
padding:0;
margin:0;
border:none;
}